@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url("../fonts/MuseoSansCyrl-100.eot") format("eot"),
    url("../fonts/MuseoSansCyrl-100.otf") format("otf"),
    url("../fonts/MuseoSansCyrl-100.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl-100.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.eot") format("eot"),
    url("../fonts/MuseoSansCyrl-300.otf") format("otf"),
    url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.eot") format("eot"),
    url("../fonts/MuseoSansCyrl-500.otf") format("otf"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700.eot") format("eot"),
    url("../fonts/MuseoSansCyrl-700.otf") format("otf"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url("../fonts/MuseoSansCyrl-900.eot") format("eot"),
    url("../fonts/MuseoSansCyrl-900.otf") format("otf"),
    url("../fonts/MuseoSansCyrl-900.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GothamPRO-med";
  src: url("../fonts/GothamProMed.eot") format("eot"),
    url("../fonts/GothaProMed.otf") format("otf"),
    url("../fonts/GothamProMed.ttf") format("ttf"),
    url("../fonts/GothamProMed.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GothamPRO-bold";
  src: url("../fonts/GothaProBol.eot") format("eot"),
    url("../fonts/GothaProBol.otf") format("otf"),
    url("../fonts/GothaProBol.ttf") format("ttf"),
    url("../fonts/GothaProBol.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GothamPRO-reg";
  src: url("../fonts/GothamPro.eot") format("eot"),
    url("../fonts/GothamPro.ttf") format("ttf"),
    url("../fonts/GothamPro.woff") format("woff");
  font-display: swap;
}
