/*ГЛОБАЛЬНЫЕ СТИЛИ*/

body {
  font-family: "MuseoSansCyrl-700";
  color: black;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
* {
  transition: all 0.3s;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
button {
  border: none;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  padding-top: 20px;
}
h2 {
  font-size: 35px;
}

/*ГЛОБАЛЬНЫЕ СТИЛИ*/

/*СТИЛИ ДЛЯ ХЕДЕРА*/

.header-top {
  padding: 10px 0px 10px 0px;
}

.search {
  padding-top: 16px;
  padding-left: 39px;
}

.form-search_input {
  height: 38px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #989898;
  position: relative;
  outline: none;
  padding: 0 20px;
}

.form-search_input::placeholder {
  font-size: 15px;
}

.form-search_btn {
  position: absolute;
  bottom: 8px;
  right: 25px;
  background-color: transparent;
  opacity: 0.8;
}

.social__inner {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 25px;
  width: 70%;
}

.social__inner a img {
  padding-left: 40px;
}

.header-phone {
  padding-top: 24px;
  font-size: 18px;
  color: #323136;
}

.header-phone a:hover {
  color: black;
}

.header-btn {
  margin-top: 15px;
  width: 163px;
  height: 38px;
  color: white;
  background-color: #ab4e44;
  text-transform: uppercase;
  font-size: 12px;
}

.header-btn:hover {
  background-color: black;
}

.header-card {
  padding-top: 18px;
  position: relative;
}

.header-card-counter {
  width: 33px;
  height: 24px;
  background-color: #ab4e44;
  color: white;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 35px;
  font-size: 14px;
  line-height: 24px;
}

.header-bottom {
  background-color: #333333;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  height: 55px;
  text-align: center;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}

.menu__list-item {
  padding-top: 17px;
width: 100%;
}

.menu__list-item-3{
  padding-top: 10px;
}

.menu__list-item:hover,
.menu__list-item-1:hover,
.menu__list-item-3:hover,
.menu__list-item-5:hover {
  background-color: #ab4e44;
  color: #fff;
}

/*СТИЛИ ДЛЯ ХЕДЕРА*/

/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.first-section {
  background-image: url(../img/first-cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-section__inner {
  margin-top: 65px;
}

.first-section__text {
  font-size: 23px;
}

.first-section__btn {
  margin-top: 40px;
  width: 205px;
  height: 60px;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  margin-bottom: 80px;
}

.first-section__btn:hover {
  background-color: #000;
}

.second-section {
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    "a a b"
    "c e b"
    "d e f";
}

.grid-container a img {
  width: 100%;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

.grid-text {
  font-size: 20px;
  padding-top: 15px;
}

.third-section {
  padding-top: 70px;
}

.popular__items{
  padding-bottom: 50px;
}

.shop__row > div{
  border-left: 1px solid #d6d6d6;
}

.shop__item-last{
  border-right: 1px solid #d6d6d6;
}

.padding_for_shop_row_2{
  margin-top: 50px;
}

.shop__item-inner {
  text-align: right;
  font-family: 'GothamPro-bold';
}

.shop__item-art {
  font-family: "MuseoSansCyrl-100";
  color: #9a9a9a;
  text-align: left;
  padding-top: 10px;
}

.shop__item-name {
  width: 150px;
  text-align: left;
  padding-top: 10px;
  font-family: "MuseoSansCyrl-900";
}

.shop__item-price {
  text-align: left;
  padding-top: 20px;
  font-size: 19px;
  position: relative;
}

.item_to_card_inner{
  height: 140px;
}
.counter__inner {
  text-align: left;
  padding-top: 20px;
  float: left;
  font-size: 23px;
  padding-bottom: 20px;
}

.shop__item-counter {
  width: 40px;
  height: 40px;
  float: left;
  background-color: transparent;
}

.shop__item-num {
  float: left;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.add_to_card {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  float: right;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  font-size: 12px;
}

.add_to_card:hover {
  background-color: #000;
}

.price-exchange {
  float: right;
  position: absolute;
  top: 20px;
  left: 70px;
}

.fourth-section {
  padding-top: 160px;
  padding-bottom: 140px;
}

.fourth-col-1 {
  background-color: #ab4e44;
  color: #fff;
  position: relative;
}

.fourth-col-1::before {
  content: "";
  background-image: url(../img/serv.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 253px;
  height: 279px;
  top: -130px;
  left: 100px;
}

.fourth-section_title {
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -1px;
}
.fourth-section_btn {
  width: 180px;
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px;
  margin-left: 20px;
  font-family: "MuseoSansCyrl-900";
}

.fourth-section_btn:hover {
  background-color: #000;
  color: #fff;
}

.fourth-section-items {
  background-color: #f5efeb;
  letter-spacing: -1px;
}

.fourth-section__item {
  padding-left: 20px;
}

.fourth-sec__item-title {
  margin-block-end: 0.1em;
  font-size: 20px;
  line-height: 40px;
}

.item-info {
  font-family: "MuseoSansCyrl-300";
  font-size: 16px;
  line-height: 26px;
}

.last-item-info {
  padding-bottom: 28px;
}

.fifth-section {
  padding-bottom: 100px;
}

.fifth-section_title {
  padding-bottom: 60px;
  letter-spacing: -1px;
}

.fifth-section-items img {
  width: 65px;
  height: 54px;
}

.fifth-section__text {
  font-family: "MuseoSansCyrl-500";
  padding-top: 30px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -1px;
}

.fifth-sec_row {
  height: 200px;
  margin-bottom: 100px;
}

/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

/*СТИЛИ ДЛЯ ФУТЕРА*/

footer {
  border-top: 1px solid #d6d6d6;
  padding-top: 30px;
}

.footer-logo {
  padding-top: 70px;
  padding-left: 40px;
}

.footer-logo-border {
  border-right: 2px solid #d6d6d6;
  height: 240px;
}

.footer-title {
  text-transform: uppercase;
  padding-top: 30px;
  font-family: "Gothampro-bold";
  letter-spacing: 5px;
}

.footer-info {
  font-family: "Gothampro-reg";
  letter-spacing: -1px;
}

.footer-info li {
  padding-bottom: 18px;
}

.footer-info:last-child {
  padding-bottom: 40px;
}

.footer-phone {
  font-family: "GothamPRO-reg";
  font-size: 26px;
  padding-top: 45px;
}

.footer-mail {
  font-family: "Gothampro-reg";
  letter-spacing: -1px;
  padding-top: 10px;
}

#padding_for_3_item {
  padding-bottom: 100px;
}

/*СТИЛИ ДЛЯ ФУТЕРА*/

/*СТИЛИ ДЛЯ СТРАНИЦЫ ТОВАРА*/

.bg-product{
  background-color: #f4f4f4;
}

.breadcrumbs__list{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
  line-height: 28px;
  font-family: "Gothampro-reg";
  color: #6d6d6d;
  letter-spacing: -1px;
  list-style: disc;
  padding-top: 50px;
}

.breadcrumbs__list-1{
  list-style: none;
}

.breadcrumbs__list li{
  float: left;
  padding-right: 24px;
}

.padding-left-none{
  padding-left: 0;
}

.product-photo{
  padding-top: 45px;
  width: 100%;
}

.product__points{
  font-family: "MuseoSansCyrl-500";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -1px;
  padding: 30px 35px 0 35px ;
  display: flex;
  justify-content: space-between;
}

.product__points-stick{
  height: 1px;
  margin-top: 15px;
}

.product__inner{
  background-color: #fff;
  margin-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.product-title{
  font-family: 'GothamPro-bold';
  font-size: 35px;
  line-height: 45px;
  padding-top: 0;
}

.product-art__inner{
  width: 55%;
  font-family: "GothamPRO-med";
  line-height: 28px;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
}

.product__art-num{
 padding-right: 30%;
}

.product__art-stock img{
  width: 13px;
  height: 11px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.product__art-stock{
  color: #46af35;
}

.product-price__inner{
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.product-price{
  font-size: 30px;
  position: relative;
}

.product-price-exchange{
  position: absolute;
  top: 0;
  right: -30px;
}

.product-counter__inner{
  font-size: 23px;
  padding-right: 5%;
}

.add_to_card-product{
  margin-top: 0px;
  font-family: 'GothamPro-bold';
  font-size: 14px;
  width: 170px;
  height: 47px;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  border-radius: 30px;
  margin-left: 30px;
}

.add_to_card-product:hover{
  background-color: #000;
}

.info-title{
  font-family: "MuseoSansCyrl-900";
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

.checkbox-section{
  font-family: "MuseoSansCyrl-300";
  letter-spacing: -1px;
  padding-bottom: 45px;
}

label{
  display: block;
  margin-bottom: 5px;
  margin-left: 35px;
}

.product-check{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-style{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin-left: -35px;
}

.product-check:checked + .check-style::before{
  content: "";
  width: 14px;
  height: 14px;
  background-color: #b13d2f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.specifications{
  height: 290px;
  font-family: "MuseoSansCyrl-300";
  letter-spacing: -1px;
  line-height: 26px;
}

.specification-name{
  float: left;
  width: 50%;
}

.specification-value{
  float: right;
  width: 50%;
}

.product-info-text{
  font-family: "Gothampro-reg";
  font-size: 17px;
  line-height: 25px;
}

.product-info-text p{
  margin-block-end: 1.8em;
}

.product-info-text:last-child{
  padding-bottom: 30px;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ ТОВАРА*/

@media (max-width: 1210px) {
  .header-phone a {
    font-size: 14px;
  }
  .header-btn {
    width: 130px;
    height: 45px;
  }
  .menu__list-item-1 {
    padding-left: 0;
  }
  .menu__list-item {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }
  .menu__list-item_dots {
    display: none;
  }
  .menu__list-item-3,
  .menu__list-item-5{
    padding-top: 12px !important;
  }
  .padding_for_shop_row_1{
    margin-top: 50px;
  }
  .shop__row > div{
    border-right: 1px solid #d6d6d6;
  }
}

@media (max-width: 1180px) {
  .shop__item-inner {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .fourth-section {
    padding-bottom: 70px;
  }
}
@media (max-width: 990px) {
  .header-top {
    text-align: center;
  }
  .header-card-counter {
    left: 90px;
  }
  .header-phone{
    padding-top: 10px;
  }
  .header-phone a {
    font-size: 16px;
  }
  .header-btn {
    width: 168px;
    height: 38px;
  }
  .search {
    padding-left: 15px;
  }
  .menu__list-item-1 img {
    display: none;
  }
  .menu__list-link-1 {
    float: left;
    padding-right: 0;
  }
  .grid-container {
    grid-template-areas:
      "a a d"
      "b e c"
      "b e f";
    gap: 18px 20px;
  }
  .grid-text {
    font-size: 18px;
  }
  .fourth-section {
    padding-bottom: 70px;
  }
  #padding_for_3_item {
    padding-bottom: 0;
  }
  .fifth-section__text {
    padding-bottom: 50px;
  }
}
@media (max-width: 840px) {
  .menu {
    display: none;
  }
}
@media (max-width: 770px) {
  .social__inner {
    margin: 30px auto;
  }
  .header-card-counter {
    display: none;
  }
  .header-vk img {
    padding-right: 0 !important;
  }
  .header-vk {
    text-align: right !important;
    float: right;
  }
  .header-bottom {
    background-color: #fff;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .shop__item-art,
  .shop__item-price {
    text-align: center;
  }
  .shop__item-name {
    margin: 0 auto;
  }
  .item_to_card_inner {
    width: 40%;
    margin: 0 auto;
  }
  .fifth-section_title,
  .fifth-section-items {
    text-align: center;
    padding-bottom: 20px;
  }
  #padding_for_3_item {
    padding-bottom: 40px;
  }
  .price-exchange {
    left: 55%;
  }
  .shop__row > div{
    border: none;
  }
}

@media (max-width: 765px) {
  .menu {
    display: block;
    padding: 0;
    text-align: center;
  }
  .menu__list {
    display: block;
    transform: translateY(-1500%);
    transition: all 0.3s;
    color: #fff;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
    background: #000;
    text-align: center;
    height: 120%;
    margin-bottom: 20px;
  }
  .menu__list-link-1 {
    float: none;
    padding-top: 20px;
  }
  .menu__list-link {
    display: block;
  }
  .menu__btn {
    display: block;
    position: absolute;
    background-color: black;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  .menu__list-item {
    padding-top: 15px;
  }
  .menu__list-item-7{
  padding-bottom: 20px;
  }
  .menu__list-item:hover,
  .menu__list-item-1:hover,
  .menu__list-item-3:hover,
  .menu__list-item-5:hover {
    background-color: #000;
  }
  .grid-container {
    grid-template-areas:
      "a a d"
      "b e c"
      "b e f";
    gap: 10px 10px;
  }
  footer {
    text-align: center;
  }
  .footer-logo {
    padding-left: 0;
    padding-bottom: 40px;
  }
  .footer-info:last-child {
    padding-bottom: 0;
  }
  .footer-title {
    padding-top: 10px;
  }
  .footer-phone {
    padding-top: 15px;
  }
  .footer-contact {
    padding-bottom: 40px;
  }
}
@media (max-width: 666px) {
  .item_to_card_inner {
    width: 70%;
    margin: 0 auto;
  }
  .fourth-section_title {
    font-size: 25px;
    line-height: 30px;
  }
  .fourth-section_btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 0;
  }
  .fourth-col-1::before {
    left: 50px;
  }
  .price-exchange {
    left: 60%;
  }
}
@media (max-width: 420px) {
  .social__inner {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a a"
      "b e"
      "b e"
      "c d"
      "f f";
    gap: 10px 10px;
  }
  .item_to_card_inner {
    width: 80%;
    margin: 0 auto;
  }
  .fifth-section {
    padding-bottom: 0;
  }
  .price-exchange {
    left: 65%;
  }
}

@media (max-width: 361px) {
  .counter__inner {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
  .add_to_card {
    float: none;
  }
  .shop__item-num {
    width: 60%;
    text-align: center;
  }
  .fourth-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .fourth-col-1::before {
    display: none;
  }
  .fourth-section_title {
    font-size: 22px;
    padding-top: 60px;
  }
  .fourth-section__btn {
    width: 150px;
    height: 50px;
  }
  .popular__items{
    padding-bottom: 0px;
  }
}
