/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.first-section__btn:hover {
  background-color: #000;
}

.second-section {
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    "a a b"
    "c e b"
    "d e f";
}

.grid-container a img {
  width: 100%;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

.grid-text {
  font-size: 20px;
  padding-top: 15px;
}

.third-section {
  padding-top: 70px;
}

.popular__items {
  padding-bottom: 50px;
}

.shop__row > div {
  border-left: 1px solid #d6d6d6;
}

.shop__item-last {
  border-right: 1px solid #d6d6d6;
}

.padding_for_shop_row_2 {
  margin-top: 50px;
}

.shop__item-inner {
  text-align: right;
  font-family: "GothamPro-bold";
}

.shop__item-art {
  font-family: "MuseoSansCyrl-100";
  color: #9a9a9a;
  text-align: left;
  padding-top: 10px;
}

.shop__item-name {
  width: 150px;
  text-align: left;
  padding-top: 10px;
  font-family: "MuseoSansCyrl-900";
}

.shop__item-price {
  text-align: left;
  padding-top: 20px;
  font-size: 19px;
  position: relative;
}

.item_to_card_inner {
  height: 140px;
}
.counter__inner {
  padding-top: 20px;
  float: left;
  font-size: 23px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.shop__item-counter {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.shop__item-num {
  padding-top: 5px;
}

.add_to_card {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  float: right;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  font-size: 12px;
}

.add_to_card:hover {
  background-color: #000;
}

.price-exchange {
  float: right;
  position: absolute;
  top: 20px;
  left: 70px;
}

.fourth-section {
  padding-top: 160px;
  padding-bottom: 140px;
}

.fourth-col-1 {
  background-color: #ab4e44;
  color: #fff;
  position: relative;
}

.fourth-col-1::before {
  content: "";
  background-image: url(../img/serv.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 253px;
  height: 279px;
  top: -130px;
  left: 100px;
}

.fourth-section_title {
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -1px;
}
.fourth-section_btn {
  width: 180px;
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px;
  margin-left: 20px;
  font-family: "MuseoSansCyrl-900";
}

.fourth-section_btn:hover {
  background-color: #000;
  color: #fff;
}

.fourth-section-items {
  background-color: #f5efeb;
  letter-spacing: -1px;
}

.fourth-section__item {
  padding-left: 20px;
}

.fourth-sec__item-title {
  margin-block-end: 0.1em;
  font-size: 20px;
  line-height: 40px;
}

.item-info {
  font-family: "MuseoSansCyrl-300";
  font-size: 16px;
  line-height: 26px;
}

.last-item-info {
  padding-bottom: 28px;
}

.fifth-section {
  padding-bottom: 100px;
}

.fifth-section_title {
  padding-bottom: 60px;
  letter-spacing: -1px;
}

.fifth-section-items img {
  width: 65px;
  height: 54px;
}

.fifth-section__text {
  font-family: "MuseoSansCyrl-500";
  padding-top: 30px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -1px;
}

.fifth-sec_row {
  height: 200px;
  margin-bottom: 100px;
}

/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

/*СТИЛИ ДЛЯ ФУТЕРА*/

footer {
  border-top: 1px solid #d6d6d6;
  padding-top: 30px;
}

.footer-logo {
  padding-top: 70px;
  padding-left: 40px;
}

.footer-logo-border {
  border-right: 2px solid #d6d6d6;
  height: 240px;
}

.footer-title {
  text-transform: uppercase;
  padding-top: 30px;
  font-family: "Gothampro-bold";
  letter-spacing: 5px;
}

.footer-info {
  font-family: "Gothampro-reg";
  letter-spacing: -1px;
}

.footer-info li {
  padding-bottom: 18px;
}

.footer-info:last-child {
  padding-bottom: 40px;
}

.footer-phone {
  font-family: "GothamPRO-reg";
  font-size: 26px;
  padding-top: 45px;
}

.footer-mail {
  font-family: "Gothampro-reg";
  letter-spacing: -1px;
  padding-top: 10px;
}

#padding_for_3_item {
  padding-bottom: 100px;
}

/*СТИЛИ ДЛЯ ФУТЕРА*/

/*СТИЛИ ДЛЯ СТРАНИЦЫ ТОВАРА*/

.breadcrumbs-section {
  background-color: #f4f4f4;
}

.padding-left-none {
  padding-left: 0;
}

.product-section {
  background-color: #f4f4f4;
  padding-bottom: 80px;
}

.product-section .container {
  position: relative;
}

.images-for-product {
  position: absolute;
  width: 73px;
  left: -100px;
  top: 45px;
}

.images-for-product img {
  height: 77px;
  padding-bottom: 7px;
}

.product-photo {
  padding-top: 45px;
  width: 100%;
}

.product__points {
  font-family: "MuseoSansCyrl-500";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -1px;
  padding: 30px 35px 0 35px;
  display: flex;
  justify-content: space-between;
}

.product__points-stick {
  height: 1px;
  margin-top: 15px;
}

.product__inner {
  background-color: #fff;
  margin-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.product-title {
  font-family: "GothamPro-bold";
  font-size: 35px;
  line-height: 45px;
  padding-top: 0;
}

.product-art__inner {
  width: 55%;
  font-family: "GothamPRO-med";
  line-height: 28px;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
}

.product__art-num {
  padding-right: 30%;
}

.product__art-stock img {
  width: 13px;
  height: 11px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.product__art-stock {
  color: #46af35;
}

.product-price__inner {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.product-price {
  font-size: 30px;
  position: relative;
}

.product-counter__inner {
  font-size: 23px;
  padding-right: 5%;
}

.add_to_card-product {
  margin-top: 0px;
  font-family: "GothamPro-bold";
  font-size: 14px;
  width: 170px;
  height: 47px;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  border-radius: 30px;
  margin-left: 30px;
}

.add_to_card-product:hover {
  background-color: #000;
}

.info-title {
  font-family: "MuseoSansCyrl-900";
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

.checkbox-section {
  font-family: "MuseoSansCyrl-300";
  letter-spacing: -1px;
  padding-bottom: 45px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 35px;
}

.product-check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin-left: -35px;
}

.product-check:checked + .check-style::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #b13d2f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.specifications {
  height: 290px;
  font-family: "MuseoSansCyrl-300";
  letter-spacing: -1px;
  line-height: 26px;
}

.specification-name {
  float: left;
  width: 50%;
}

.specification-value {
  float: right;
  width: 50%;
}

.product-info-text {
  font-family: "Gothampro-reg";
  font-size: 17px;
  line-height: 25px;
}

.product-info-text:last-child {
  padding-bottom: 30px;
}

.related-items-title {
  font-family: "GothamPro-bold";
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 55px;
}

.related-items-title-1 {
  padding-top: 75px;
}

.related__item-inner {
  font-family: "GothamPro-bold";
  text-align: center;
  height: 500px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.related__item-status {
  position: absolute;
  width: 60px;
  height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  top: 20px;
  padding-top: 4px;
  border-radius: 20px;
}

#status-sale {
  background-color: #ffd200;
}

#status-new {
  width: 80px;
  background-color: #ef1150;
  color: #fff;
}

.related__item-inner > img {
  margin-top: 75px;
  width: 60%;
  height: 180px;
}

.related__item-art {
  font-family: "GothamPro-reg";
  color: #9a9a9a;
  text-align: left;
  padding-top: 40px;
  letter-spacing: -1px;
}

.related-items_row {
  position: relative;
  margin-bottom: 100px;
  height: 460px;
}

.related-items_row > div {
  border-left: 1px solid #d6d6d6;
}

.related__item_to_card {
  width: 160px;
  height: 40px;
  border-radius: 30px;
  float: right;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
  font-size: 12px;
}

.related__item_to_card:hover {
  background-color: #000;
}

.related__item-first {
  font-family: "GothamPro-bold";
  position: absolute;
  width: 392px;
  left: -400px;
  text-align: center;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
}

.related__item-first > img {
  margin-top: 75px;
  width: 187px;
  height: 180px;
}

.related__item-first .related__item_to_card {
  margin-right: 25px;
}

.related__item-last {
  font-family: "GothamPro-bold";
  position: absolute;
  width: 392px;
  right: -400px;
  text-align: center;
  height: 500px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
}

.related__item-last > img {
  margin-top: 75px;
  width: 187px;
  height: 180px;
}

.related__item-last .related__item_to_card {
  margin-right: 25px;
}

.related-items-title-2 {
  padding-top: 70px;
}

.product__item-inner {
  float: left;
}

.add_to_card-inner {
  float: right;
}

.related_counter__inner {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.related__bottom__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.related__item-counter {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.related__item-num {
  font-size: 23px;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ ТОВАРА*/

/*СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ОПЛАТА-ДОСТАВКА-ГАРАНТИИ*/

.modal__inner {
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #fff;
}

.modal-product-points {
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "GothamPro-bold";
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
}

.modal__points-stick {
  height: 1px;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.modal__points-item.active {
  border-bottom: 5px solid #ab4e44;
}

.modal-title {
  font-size: 35px;
  line-height: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal__inner p {
  font-family: "GothamPro-reg";
  margin-block-start: 0;
  font-size: 17px;
  line-height: 25px;
  padding-bottom: 30px;
}

.md-close {
  height: 35px;
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 30px;
}

.modal__points-item:hover {
  cursor: pointer;
}

.modal__points-item.active:hover {
  cursor: default;
}

.modal-dialog {
  margin: 0;
  height: 100%;
}
.modal-content {
  height: 100%;
}

/*СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ОПЛАТА-ДОСТАВКА-ГАРАНТИИ*/

/*СТИЛИ ДЛЯ СЛАЙДЕРА ТОВАРОВ*/

.slider-container {
  width: 1920px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.slider-cell {
  display: flex;
  justify-content: space-between;
  width: 1919px;
}

.cell-item__inner {
  width: 370px;
  height: 500px;
  border-left: 1px solid #d6d6d6;
}

.cell-item__inner-last {
  border-right: 1px solid #d6d6d6;
}

.item-pd-top {
  padding-top: 90px;
}

/*СТИЛИ ДЛЯ СЛАЙДЕРА ТОВАРОВ*/

/*СТИЛИ ДЛЯ СТРАНИЦЫ БЛОГА*/

.blog-pagination__inner {
  padding-bottom: 20px;
}

.pagination-list li {
  display: inline-block;
  border-radius: 50%;
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

.pagination-list li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.pagination-list li a img {
  margin-top: -4px;
}

.pagination-list li:hover {
  background-color: #eeeeee;
}

.pagination-link--active,
.pagination-link--active:hover {
  background-color: #dcdcdc !important;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ БЛОГА*/

@media (max-width: 1990px) {
  .related__item-first,
  .related__item-last {
    display: none;
  }
  .container__product-last {
    border-right: 1px solid #d6d6d6;
  }
}

@media (max-width: 1919px) {
  .slider-container {
    width: 1206px;
  }
  .slider-cell {
    display: flex;
    width: 1206px;
  }
  .cell-item__inner {
    display: none;
  }
  .cell-item__inner-last,
  .cell-item__inner.cell-item__inner-active {
    display: block;
    width: 33%;
  }
}

@media (max-width: 1500px) {
  .modal__inner {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1440px) {
  .images-for-product {
    left: 15px;
    top: 650px;
    width: 300px;
  }
  .images-for-product img {
    padding-bottom: 0;
    padding-right: 20px;
  }
  .product__points {
    padding: 130px 35px 0 35px;
  }
}

@media (max-width: 1300px) {
  .modal__inner {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .md-modal-1,
  .md-modal-2,
  .md-modal-3 {
    width: 50%;
  }
  .md-overlay {
    width: 50%;
  }
  .modal__points-stick {
    height: 1px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1240px) {
  .slider-container {
    width: 1000px;
  }
  .slider-cell {
    display: flex;
    width: 1000px;
  }
}

@media (max-width: 1210px) {
  .padding_for_shop_row_1 {
    margin-top: 50px;
  }
  .shop__row > div {
    border-right: 1px solid #d6d6d6;
  }
  .images-for-product {
    left: 15px;
    top: 620px;
    width: 300px;
  }
  .product-art__inner {
    width: 90%;
  }
  .product-price__inner {
    display: block;
  }
  .product-price {
    width: 40%;
  }
  .product-counter__inner {
    padding-right: 0;
  }
  .related-items_row > div {
    border: none;
  }
  .related__item-inner {
    margin: 20px auto;
  }
  .related__item-inner > img {
    margin-top: 75px;
    width: 50%;
    height: auto;
  }
}

@media (max-width: 1180px) {
  .shop__item-inner {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .fourth-section {
    padding-bottom: 70px;
  }
  .md-modal-1,
  .md-modal-2,
  .md-modal-3 {
    width: 75%;
  }
  .md-overlay {
    width: 25%;
  }
  .slider-container {
    width: 100%;
  }
  .slider-cell {
    display: block;
    width: 100%;
  }
  .cell-item__inner {
    display: block;
    margin: 0 auto;
    border-left: none;
  }
  .cell-item__inner-last {
    border-right: none;
  }
  .cell-item__inner-last,
  .cell-item__inner.cell-item__inner-active {
    width: 370px;
  }
}
@media (max-width: 990px) {
  .grid-container {
    grid-template-areas:
      "a a d"
      "b e c"
      "b e f";
    gap: 18px 20px;
  }
  .grid-text {
    font-size: 18px;
  }
  .fourth-section {
    padding-bottom: 70px;
  }
  #padding_for_3_item {
    padding-bottom: 0;
  }
  .fifth-section__text {
    padding-bottom: 50px;
  }
  .padding-left-none {
    text-align: center;
  }
  .product-photo {
    width: 40%;
  }
  .images-for-product img {
    padding-bottom: 7px;
    padding-right: 0;
  }
  .images-for-product {
    left: 25px;
    top: 50px;
    width: 70px;
  }
  .product__points {
    padding: 35px 35px 0 35px;
  }
  .product-price__inner {
    display: flex;
  }
}
@media (max-width: 840px) {
  .modal__points-stick {
    display: none;
  }
}
@media (max-width: 770px) {
  .shop__item-art,
  .shop__item-price {
    text-align: center;
  }
  .shop__item-name {
    margin: 0 auto;
  }
  .item_to_card_inner {
    width: 40%;
    margin: 0 auto;
  }
  .fifth-section_title,
  .fifth-section-items {
    text-align: center;
    padding-bottom: 20px;
  }
  #padding_for_3_item {
    padding-bottom: 40px;
  }
  .shop__row > div {
    border: none;
  }
  .related__item-art,
  .shop__item-name {
    text-align: center;
  }
}

@media (max-width: 765px) {
  .counter__inner {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
  .add_to_card {
    float: none;
  }
  .grid-container {
    grid-template-areas:
      "a a d"
      "b e c"
      "b e f";
    gap: 0px 10px;
  }
  .grid-text {
    padding-top: 7px;
  }
  footer {
    text-align: center;
  }
  .footer-logo {
    padding-left: 0;
    padding-bottom: 40px;
  }
  .footer-info:last-child {
    padding-bottom: 0;
  }
  .footer-title {
    padding-top: 10px;
  }
  .footer-phone {
    padding-top: 15px;
  }
  .footer-contact {
    padding-bottom: 40px;
  }
  .footer-logo-border {
    border: none;
  }
}
@media (max-width: 666px) {
  .item_to_card_inner {
    width: 40%;
    margin: 0 auto;
  }
  .fourth-section_title {
    font-size: 25px;
    line-height: 30px;
  }
  .fourth-section_btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 0;
  }
  .fourth-col-1::before {
    left: 50px;
  }
  .product-title {
    font-size: 30px;
    line-height: 40px;
  }
  .product-price__inner {
    padding-top: 25px;
  }
  .product-price__inner {
    display: block;
  }
  .product-price {
    width: 100%;
    text-align: center;
  }
  .product-title {
    text-align: center;
  }
  .add_to_card-product {
    float: right;
    margin-left: 0;
  }
  .images-for-product {
    left: 40px;
  }
  .images-for-product img {
    width: 60%;
    height: auto;
  }
  .product-counter__inner {
    padding-bottom: 40px;
  }
  .specifications {
    height: 300px;
  }
  .related__bottom__inner {
    display: block;
  }
  .related_counter__inner {
    width: 100%;
  }
  .related__item_to_card {
    float: none;
  }
  .md-modal-1,
  .md-modal-2,
  .md-modal-3 {
    width: 90%;
  }
  .md-overlay {
    width: 10%;
  }
  .modal-title {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .modal__inner p {
    font-size: 16px;
    padding-bottom: 20px;
  }
}
@media (max-width: 530px) {
  .product__art-num {
    padding-right: 0;
  }
  .product__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-info-text p {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .product__item-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .add_to_card-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .breadcrumbs {
    padding-left: 20px;
  }
  .product-title {
    font-size: 27px;
    line-height: 35px;
  }
  .product-counter__inner {
    padding-top: 20px;
  }
  .add_to_card-product {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .info-title {
    text-align: center;
  }
  .specifications {
    height: 640px;
  }
  .specification-name,
  .specification-value {
    float: none;
    width: 100%;
    text-align: center;
  }
  .specifications ul li {
    padding-bottom: 15px;
  }
  .related__item-inner > img {
    width: 80%;
  }
  .md-modal-1,
  .md-modal-2,
  .md-modal-3 {
    width: 95%;
  }
  .md-overlay {
    width: 5%;
  }
  .modal__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cell-item__inner,
  .cell-item__inner-last,
  .cell-item__inner.cell-item__inner-active {
    margin-bottom: 130px;
  }
}
@media (max-width: 420px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a a"
      "b e"
      "b e"
      "c d"
      "f f";
    gap: 0px 10px;
  }
  .item_to_card_inner {
    width: 50%;
    margin: 0 auto;
  }
  .fifth-section {
    padding-bottom: 0;
  }
  .product__points-stick {
    display: none;
  }
  .product__points {
    padding: 35px 10px 0 10px;
  }
  .specifications {
    height: 640px;
  }
  .product-art__inner {
    display: block;
    text-align: center;
    width: 100%;
  }
  .related__item_to_card {
    width: 120px;
    height: 30px;
  }
  .related__item-inner {
    width: 75%;
  }
  .modal__inner {
    padding-top: 60px;
  }
  .modal-product-points {
    flex-direction: column;
    padding-bottom: 100px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
  .modal__points-item {
    margin-bottom: 10px;
  }
  .related-items-title {
    font-size: 30px;
    line-height: 37px;
  }
  .related__item-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .cell-item__inner,
  .cell-item__inner-last,
  .cell-item__inner.cell-item__inner-active {
    width: 100%;
    margin-bottom: 80px;
  }
}

@media (max-width: 361px) {
  .counter__inner {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
  .add_to_card {
    float: none;
  }
  .fourth-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .fourth-col-1::before {
    display: none;
  }
  .fourth-section_title {
    font-size: 22px;
    padding-top: 60px;
  }
  .fourth-section__btn {
    width: 150px;
    height: 50px;
  }
  .popular__items {
    padding-bottom: 0px;
  }
  .product-photo {
    width: 50%;
  }
  .images-for-product {
    left: 20px;
  }
  .product__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cell-item__inner,
  .cell-item__inner-last,
  .cell-item__inner.cell-item__inner-active {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (min-width: 1400px) {
  .modal-dialog {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .modal-dialog {
    width: 40%;
  }
}
