body {
  font-family: "MuseoSansCyrl-700";
  color: black;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
* {
  transition: all 0.3s;
}
ul {
  list-style: none;
}
button {
  border: none;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 35px;
}
.header-top {
  padding: 10px 0px 10px 0px;
}

.search {
  padding-top: 16px;
  padding-left: 39px;
}

.form-search_input {
  height: 38px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #989898;
  position: relative;
  outline: none;
  padding: 0 20px;
}

.form-search_input::placeholder {
  font-size: 15px;
}

.form-search_btn {
  position: absolute;
  bottom: 8px;
  right: 25px;
  background-color: transparent;
}

.social__inner {
  height: 40px;
  margin-left: 10px;
  margin-top: 25px;
}

.social__inner a img {
  padding-left: 40px;
}

.header-phone {
  padding-top: 24px;
  font-size: 18px;
}

.header-phone a {
  padding-top: 24px;
  font-size: 18px;
  color: #989898;
}

.header-phone a:hover {
  color: black;
}

.header-btn {
  margin-top: 15px;
  width: 163px;
  height: 38px;
  color: white;
  background-color: #ab4e44;
  text-transform: uppercase;
  font-size: 15px;
}

.header-btn:hover {
  background-color: black;
}

.header-card {
  padding-top: 18px;
  position: relative;
}

.header-card-counter {
  width: 33px;
  height: 24px;
  background-color: #ab4e44;
  color: white;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 35px;
}

.header-bottom {
  background-color: #333333;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  height: 55px;
}

.menu__list-item-1 {
  padding-top: 15px;
  padding-left: 30px;
  width: 160px;
}

.menu__list-item {
  padding-top: 15px;
  padding-left: 27px;
  padding-right: 27px;
}

.menu__list-item:hover,
.menu__list-item-1:hover {
  background-color: #ab4e44;
  color: #fff;
}

.menu__list-link-1 {
  float: right;
  padding-right: 25px;
}

.first-section {
  height: 553px;
  background-image: url(../img/first-cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-section__inner {
  margin-top: 65px;
}

.first-section__text {
  font-size: 23px;
}

.first-section__btn {
  margin-top: 40px;
  width: 205px;
  height: 60px;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
}

.first-section__btn:hover {
  background-color: #000;
}

.second-section {
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px 30px;
  grid-template-areas:
    "a a b"
    "c e b"
    "d e f";
}

.grid-container a img {
  width: 100%;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

.grid-text {
  font-size: 20px;
  padding-top: 5px;
}

.third-section {
  padding-top: 70px;
}

.shop__item-inner {
  text-align: right;
  padding-top: 80px;
}

.shop__item-art {
  font-family: "MuseoSansCyrl-100";
  color: #9a9a9a;
  text-align: left;
  padding-top: 10px;
}

.shop__item-name {
  width: 150px;
  text-align: left;
  padding-top: 10px;
  font-family: "MuseoSansCyrl-900";
}

.shop__item-price {
  text-align: left;
  padding-top: 20px;
  font-size: 19px;
}

.counter__inner {
  text-align: left;
  padding-top: 20px;
  float: left;
  font-size: 23px;
  padding-bottom: 20px;
}

.shop__item-counter {
  width: 40px;
  height: 40px;
  float: left;
  background-color: transparent;
}

.shop__item-num {
  float: left;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.add_to_card {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  float: right;
  text-transform: uppercase;
  background-color: #ab4e44;
  color: #fff;
}

.add_to_card:hover {
  background-color: #000;
}

.fourth-section {
  padding-top: 200px;
  padding-bottom: 140px;
}

.fourth-col-1 {
  background-color: #ab4e44;
  color: #fff;
  position: relative;
}

.fourth-col-1::before {
  content: "";
  background-image: url(../img/serv.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 253px;
  height: 279px;
  top: -150px;
  left: 100px;
}

.fourth-section_title {
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 31px;
}
.fourth-section_btn {
  width: 180px;
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 55px;
  margin-left: 20px;
}

.fourth-section_btn:hover {
  background-color: #000;
  color: #fff;
}

.fourth-section-items {
  background-color: #f5efeb;
}

.fourth-section__item {
  padding-left: 20px;
}

.fourth-sec__item-title {
  margin-block-end: 0.6em;
  font-size: 19px;
}

.item-info {
  font-family: "MuseoSansCyrl-300";
  padding-bottom: 15px;
  font-size: 14px;
}

@media (max-width: 640px) {
  .menu {
    padding: 0;
    background: linear-gradient(
      180deg,
      #111213 0%,
      #111213 10%,
      rgba(32, 31, 33, 0) 86.33%
    );
    text-align: center;
  }
  .menu__list {
    display: block;
    transform: translateY(-330%);
    transition: all 0.3s;
    color: black;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
    padding: 100px 0 50px;
    background-color: #0e0e0e;
  }
  .menu__list-link {
    display: block;
    padding: 10px 0;
  }
  .menu__btn {
    background-color: black;
  }
}
