<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница товара</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
    <header>
        <div class="container header-top">
            <div class="logo col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                <a href=""><img src="../img/logo.png" alt=""></a>
            </div>
            <div class="search col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <form class="form-search">
                    <input class="form-search_input" type="search" placeholder="Поиск" aria-label="Search">
                    <button type="submit" class="form-search_btn"><img src="../img/search.png" alt=""></button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <ul class="social__inner">
                    <li href="https://twitter.com/"><img src="../img/twitter.png" alt=""></li>
                    <li href="https://www.instagram.com/"><img src="../img/inst.png" alt=""></li>
                    <li href="https://facebook.com/"><img src="../img/facebook.png" alt=""></li>
                    <li href="https://vk.com" class="header-vk"><img src="../img/vk.png" alt=""></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                <div class="header-phone"><a href="tel:+74951234567">+7 (495) 123 45-67</a></div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                <button href="#" class="header-btn">Задать вопрос</button>
            </div>
            <div class="header-card col-xs-6 col-sm-3 col-md-1 col-lg-1 col-xl-1">
                <div class="header-card-counter">15</div>
                <a href="">
                    <img src="../img/card.png" alt="">
                </a>
            </div>
        </div>
        <div class="container-fluid header-bottom">
            <div class="container">
                <nav class="menu">
                    <button id="menu__btn" class="menu__btn">
                        <img src="../img/burger.png" alt="">
                    </button>
                    <ul id="menu__list" class="menu__list">
                        <li class="menu__list-item menu__list-item-1" href="#">
                            <a class="menu__list-link" href="#"><img src="../img/burger.png" alt="">Каталог</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Гарантия</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Оплата и доставка</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Помощь</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">О компании</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Информация</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Контакты</a>
                        </li>
                        <li class="menu__list-item menu__list-item_dots">
                            <a class="menu__list-link" href="#"><img src="../img/elipse.png" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="breadcrumbs-section">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__list-1"><a href="#">Главная</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Мангалы</a></li>
                    <li><a href="#">Вертикальные мангалы</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="product-section">
        <div class="container">
            <div class="images-for-product">
                <a href="#"><img src="../img/img-for-prod-1.jpg" alt=""></a>
                <a href="#"><img src="../img/img-for-prod-2.jpg" alt=""></a>
                <a href="#"><img src="../img/img-for-prod-3.jpg" alt=""></a>
            </div>
            <div class="padding-left-none col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <img class="product-photo" src="../img/product-photo.jpg" alt="">
                <div class="product__points">
                    <a href="">Оплата</a>
                    <img class="product__points-stick" src="../img/stick.png" alt="">
                    <a href="" class="product__points-item">Доставка</a>
                    <img class="product__points-stick" src="../img/stick.png" alt="">
                    <a href="">Гарантии</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <div class="product__inner">
                    <h1 class="product-title">Вертикальный мангал ВМ-1</h1>
                    <div class="product-art__inner">
                        <div class="product__art-num">Артикул 123456</div>
                        <div class="product__art-stock"><img src="../img/check.png" alt=""> В наличии</div>
                    </div>
                    <div class="product-price__inner">
                        <div class="product-price">21 990 ₽
                        </div>
                        <div class="product-counter__inner">
                            <div class="product__item-inner"><button class="shop__item-counter"><img
                                        src="../img/minus.png" alt=""></button>
                                <div class="shop__item-num">1</div>
                                <button class="shop__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="add_to_card-inner"><button class="add_to_card-product">В корзину</button></div>
                        </div>
                    </div>
                    <div class="info-title">Комплектация:</div>
                    <div class="checkbox-section">
                        <label>
                            <input class="product-check" type="checkbox" checked>
                            <span class="check-style"></span>
                            Передний столик
                        </label>
                        <label>
                            <input class="product-check" type="checkbox">
                            <span class="check-style"></span>
                            Лотки для жира 2шт
                        </label>
                        <label>
                            <input class="product-check" type="checkbox">
                            <span class="check-style"></span>
                            Набор шампуров 8шт, лопатка для золы, опахало
                        </label>
                        <label>
                            <input class="product-check" type="checkbox">
                            <span class="check-style"></span>
                            Стол с выкатным подстольем из нержавейки + рюмочницы
                        </label>
                        <label>
                            <input class="product-check" type="checkbox">
                            <span class="check-style"></span>
                            Полная комплектация
                        </label>
                    </div>
                    <div class="info-title">Характеристики</div>
                    <div class="specifications">
                        <ul>
                            <li>
                                <div class="specification-name">Ширина</div>
                                <div class="specification-value">380 мм</div>
                            </li>
                            <li>
                                <div class="specification-name">Длина</div>
                                <div class="specification-value">400 мм</div>
                            </li>
                            <li>
                                <div class="specification-name">Высота</div>
                                <div class="specification-value">720 мм</div>
                            </li>
                            <li>
                                <div class="specification-name">Вес</div>
                                <div class="specification-value">55.0 кг</div>
                            </li>
                            <li>
                                <div class="specification-name">Логистические размеры</div>
                                <div class="specification-value">0.2 м3</div>
                            </li>
                            <li>
                                <div class="specification-name">Толщина стали</div>
                                <div class="specification-value">4 мм</div>
                            </li>
                            <li>
                                <div class="specification-name">Наличие столиков</div>
                                <div class="specification-value">передний</div>
                            </li>
                            <li>
                                <div class="specification-name">Разборный</div>
                                <div class="specification-value">да</div>
                            </li>
                            <li>
                                <div class="specification-name">Примечание</div>
                                <div class="specification-value">железные элементы выкрашены
                                    огнеупорной краской Elcon 1100*C</div>
                            </li>
                        </ul>
                    </div>
                    <div class="product-info-text">
                        <p>За счет необычной конструкции вертикального мангала весь жар используется максимально
                            эффективно. Вы можете установить шампуры или зажимные решетки сразу с двух сторон, а
                            сверху
                            поставить чугунную сковороду, кастрюлю или чайник. На данной модели ВМ-1 возможно
                            разместить
                            до 40! шампуров. Тем самым, в сравнении с классическими мангалами, вы можете приготовить
                            на
                            том же количестве топлива в 2-3 раза больше продуктов. </p>
                        <p>Уголь или дрова в вертикальном мангале разгораются значительно быстрее, опять же, за счет
                            особенностей конструкции. Теперь вам не придется долго ждать оптимальной температуры,
                            можно
                            готовить почти сразу.</p>
                        <p>Толщина стали 4 мм позволит использовать данный мангал много сезонов. Нержавеющий столик,
                            лотки для сбора жира, аксессуары к данному мангалы выполнены из нержавеющей стали, что
                            так
                            же продлит их срок службы на долгие годы.</p>
                        <p>Вертикальный мангал ВМ-1 - это практичность, возведенная в абсолют. Надежность, удобство
                            использования, минимальные габариты при больших возможностях, и конечно приятный внешний
                            вид.
                        </p>
                        <p>В базовую комплектацию входит сам мангал с восемью отсеками для шампуров или зажимных
                            решеток
                            и передний столик из нержавеющей стали.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="related-items-title related-items-title-1">С этим товаром покупают</div>
            <div class="related-items_row">
                <div class="related__item-first">
                    <div id="status-sale" class="related__item-status">Акция</div>
                    <img src="../img/related-item-1.png" alt="">
                    <div class="related__item-art">Артикул 123456</div>
                    <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                    <div class="shop__item-price">21 990 ₽
                    </div>
                    <div class="related__bottom__inner">
                        <div class="related_counter__inner">
                            <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                            <div class="related__item-num">1</div>
                            <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                        </div>
                        <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-sale" class="related__item-status">Акция</div>
                        <img src="../img/related-item-1.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990 ₽
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-new" class="related__item-status">Новинка</div>
                        <img src="../img/related-item-2.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990 ₽
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__product-last col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-new" class="related__item-status">Новинка</div>
                        <img src="../img/related-item-2.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990 ₽
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related__item-last">
                    <div id="status-new" class="related__item-status">Новинка</div>
                    <img src="../img/related-item-2.png" alt="">
                    <div class="related__item-art">Артикул 123456</div>
                    <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                    <div class="shop__item-price">21 990 ₽
                    </div>
                    <div class="related__bottom__inner">
                        <div class="related_counter__inner">
                            <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                            <div class="related__item-num">1</div>
                            <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                        </div>
                        <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container">
            <div class="related-items-title related-items-title-2">Похожие товары</div>
            <div class="related-items_row">
                <div class="related__item-first">
                    <div id="status-sale" class="related__item-status">Акция</div>
                    <img src="../img/related-item-1.png" alt="">
                    <div class="related__item-art">Артикул 123456</div>
                    <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                    <div class="shop__item-price">21 990
                    </div>
                    <div class="item_to_card_inner">
                        <div class="counter__inner">
                            <button class="shop__item-counter"><img src="../img/minus.png" alt=""></button>
                            <div class="shop__item-num">1</div>
                            <button class="shop__item-counter"><img src="../img/plus.png" alt=""></button>
                        </div>
                        <button class="related__item_to_card">В корзину</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-sale" class="related__item-status">Акция</div>
                        <img src="../img/related-item-1.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-new" class="related__item-status">Новинка</div>
                        <img src="../img/related-item-2.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990 ₽
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__product-last col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="related__item-inner">
                        <div id="status-new" class="related__item-status">Новинка</div>
                        <img src="../img/related-item-2.png" alt="">
                        <div class="related__item-art">Артикул 123456</div>
                        <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                        <div class="shop__item-price">21 990 ₽
                        </div>
                        <div class="related__bottom__inner">
                            <div class="related_counter__inner">
                                <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                                <div class="related__item-num">1</div>
                                <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                            </div>
                            <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related__item-last">
                    <div id="status-new" class="related__item-status">Новинка</div>
                    <img src="../img/related-item-2.png" alt="">
                    <div class="related__item-art">Артикул 123456</div>
                    <div class="shop__item-name">Мангал Редлайнер Комфорт</div>
                    <div class="shop__item-price">21 990 ₽
                    </div>
                    <div class="related__bottom__inner">
                        <div class="related_counter__inner">
                            <button class="related__item-counter"><img src="../img/minus.png" alt=""></button>
                            <div class="related__item-num">1</div>
                            <button class="related__item-counter"><img src="../img/plus.png" alt=""></button>
                        </div>
                        <div class="related-button__inner"><button class="related__item_to_card">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer>
        <div class="container">
            <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <div class="footer-logo-border">
                    <img src="../img/footer-logo.png" class="footer-logo" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <h3 class="footer-title">Компания</h3>
                <ul class="footer-info">
                    <li><a href="">О нас</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <h3 class="footer-title">Клиентам</h3>
                <ul class="footer-info">
                    <li><a href="">Акиции и скидки</a></li>
                    <li><a href="">Доставка и оплата</a></li>
                    <li><a href="">Гарантия и сервис</a></li>
                </ul>
            </div>
            <div class="col-xl-1">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="footer-contact">
                    <div class="footer-phone"><a href="tel:+79091234567">+7 909 123-45-67</a></div>
                    <div class="footer-mail"><a href="mailto:info@firecase.ru">info@firecase.ru</a></div>
                </div>
            </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/flickity.pkgd.min.js"></script>
<script src="../js/main.js"></script>

</html>